/******************** FONTS ***********************************************/
@font-face {
    font-family: Aver_light;
    src: url("./fonts/AveriaSerifLibre-Light.ttf");
}
@font-face {
    font-family: Cor_regular;
    src: url("./fonts/Cormorant-Regular.ttf");
}
@font-face {
    font-family: Jose_w;
    src: url("./fonts/JosefinSans-VariableFont_wght.ttf");
}
@font-face {
    font-family: Satisfy_regular;
    src: url("./fonts/Satisfy-Regular.ttf");
}

